@import "sass-essentials";

.table {
  border-collapse: collapse;
  border: thin solid currentColor;

  // <caption>
  &__caption {}

  // <colgroup>
  &__colgroup {}

  // <col>
  &__col {}

  // <thead>
  &__head {}

  // <tbody>
  &__body {}

  // FF bug fix for borders & backgrounds (https://tinyurl.com/yczhwbto)
  &__row,
  &__td {
    background-clip: padding-box;
  }

  // <tr>
  &__row {
    &--head {}
    &--odd {}
    &--even {}
  }

  // <th>
  &__th {
    vertical-align: center;
    font-weight: normal;

    &--first {}
  }

  // <td>
  &__td {
    &:nth-child(even) {
      .table__row--odd & {}
    }

    &--first {}
  }

  // <tfoot>
  &__foot {}
}
